.reviews {
   margin-bottom: 50px;

   &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 245px;
      width: 100%;
      z-index: -1;
      background-color: #386adb;

      @media (min-width:$md2+px) {
         height: 365px;
      }
   }

   &__head {
      text-align: left;

      .section__text {
         text-align: left;


         @media (min-width:$md3+px) {
            span {
               display: block;
            }
         }
      }
   }

   .section-title {
      margin-bottom: 30px;

   }

   &__content {
      @media (max-width:$md3+px) {
         padding: 20px;
      }
   }


   &__body {
      @media (min-width:$md3+px) {
         margin-left: auto;
         max-width: 70%;
      }

      @media (min-width:$md3+px) {
         margin-top: -65px;
      }

      @media (min-width:$md2+px) {
         margin-top: -94px;
      }

      @media (min-width:1600px) {
         margin-top: -190px;
      }
   }

   &__slider-item-text {
      border-radius: 10px;
      background-color: #dae8fd;
   }

   &__slider-item-link {
      display: block;
      height: 100%;
      padding: 18px;
   }

   &__slider {
      margin-bottom: 30px;


      @media (min-width:1200px) {
         margin-left: -20px;
      }
   }

   &__slider-item {
      margin: 0 17px;
      max-width: 328px;
      height: 395px;

      @media (max-width:$md4+px) {
         max-width: 286px;
      }
   }

   /*
  

   &__slider-item {
      
      
      flex: 0 0 328px;
      
      position: relative;

      @media (max-width:350px) {
         max-width: 300px;
         flex: 0 0 300px;
         margin: 0 auto;
      }
   }

  

  

  
   &__slider-item {
      border-radius: 15px;
      text-align: center;
      max-width: 328px;
      margin: 0 15px;

      img {
         border-radius: 10px;
      }

      @media (min-width:500px) {
         //padding: 0 18px;

      }

      @media (max-width:$md4+px) {
         max-width: 300px;
      }
   }

   &__slider-item-text {
      background-color: #dae8fd;
      text-align: left;
      border-radius: 10px;
      padding: 18px;
      min-height: 390px;

      @media (max-width:$md2+px) {
         min-height: 242px;
      }
   }
*/
   .play-btn {
      width: 48px;
      height: 48px;
   }

   &__slider-control {
      display: flex;

      @media (min-width:500px) {
         padding-left: 20px;
      }
   }

   &__slider-btn {
      color: #fff;
      font-size: 36px;
      cursor: pointer;
   }

   &__slider-btn-prev {
      margin-right: 17px;
   }
}

.reviews {

   &__slider-head {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
   }

   &__foto {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-right: 10px;
      position: relative;

      img {
         border-radius: 50%;
      }
   }

   &__social {
      background-image: url(../img/reviews/reviews-social-icon.png) 0 0 no-repeat;
      background-size: contain;
      width: 30px;
      height: 30px;
      position: absolute;
      bottom: 0;
      right: 0;
   }

   &__name {
      font-size: 20px;
      font-weight: bold;
      color: #000;
   }

   &__text {
      color: #000;

      max-height: 210px;
      overflow-y: scroll !important;

      @media (min-width:$md2+px) {
         max-height: 256px;
      }
   }

   /*
   &__text {
  
   }*/
}

.social-icon {
   background: url(../img/reviews/reviews-social-icon.png) 0 0 no-repeat;
   width: 20px;
   height: 20px;
   background-size: contain;
   position: absolute;
   bottom: -3px;
   right: -3px;
   border-radius: 50%;
}

.webp .social-icon {
   background: url(../img/reviews/reviews-social-icon.webp) 0 0 no-repeat;
   background-size: contain;
}