.reviews {

   &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 365px;
      width: 100%;
      z-index: -1;
      background-color: #386adb;
   }

   &-play-btn {
      width: 48px;
      height: 48px;
      background-color: #386adb;
      border-radius: 50%;

      &:after {
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         margin-left: -5px;
         margin-top: -8px;
         border: 7px solid transparent;
         border-left: 14px solid #fff;
      }

      &:before {
         content: '';
         position: absolute;
         top: -15px;
         left: -15px;
         width: 79px;
         height: 79px;
         border-radius: 50%;
         background-color: #ffffff;
         opacity: 0.43;
      }
   }

   &__body {
      margin-left: auto;
      max-width: 1360px;
   }

   &__slider {
      display: flex;
      margin-left: -40px;
      margin-top: -66px;
   }

   &__slider-item {
      padding: 0 40px;

   }

   &__slider-item-video {

      width: 330px;
      height: 396px;
      padding-bottom: 0;
   }

   &__sliders-item {}

   &__slider-control {
      display: flex;
   }

   &__slider-btn {
      color: #fff;
      font-size: 36px;
      cursor: pointer;
   }

   &__slider-btn-prev {
      margin-right: 17px;
   }

   &__slider-btn-next {}
}