.reviews {

   &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 365px;
      width: 100%;
      z-index: -1;
      background-color: #386adb;
   }

   .section-title {
      margin-bottom: 30px;

   }

   &__content {
      @media (max-width:$md3+px) {
         padding: 20px;
      }
   }


   &__body {
      @media (min-width:1200px) {
         margin-left: auto;
         max-width: 1360px;
      }

      @media (min-width:1600px) {

         margin-top: -110px;
      }
   }


   &__slider {
      margin-bottom: 30px;

      @media (min-width:1200px) {
         margin-left: -20px;
      }
   }

   &__slider-item {
      border-radius: 15px;
      text-align: center;

      img {
         border-radius: 10px;
      }

      @media (min-width:650px) {
         padding: 0 18px;
      }
   }

   &-play-btn {
      width: 48px;
      height: 48px;
      background-color: #386adb;
      border-radius: 50%;

      &:after {
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         margin-left: -5px;
         margin-top: -8px;
         border: 7px solid transparent;
         border-left: 14px solid #fff;
      }

      &:before {
         content: '';
         position: absolute;
         top: -15px;
         left: -15px;
         width: 79px;
         height: 79px;
         border-radius: 50%;
         background-color: #ffffff;
         opacity: 0.43;
      }
   }

   &__slider-control {
      display: flex;

      @media (min-width:$md3+px) {
         padding-left: 20px;
      }
   }

   &__slider-btn {
      color: #fff;
      font-size: 36px;
      cursor: pointer;
   }

   &__slider-btn-prev {
      margin-right: 17px;
   }
}