.schedule {
   background-color: #dae8fd;
   background-image: url(../img/schedule/schedule-bg.svg);
   background-position: bottom right;
   background-size: contain;
   background-repeat: no-repeat;

   &__head {
      margin-bottom: 27px;

      @media (min-width:$md3+px) {
         margin-bottom: 87px;
      }

   }

   &__text {
      @media (max-width:$md3+px) {
         margin-bottom: 26px;
      }

      @media (min-width:$md3+px) {
         margin-bottom: 86px;
      }
   }

   .section__text {
      @media (max-width:$md3+px) {
         text-align: left;
      }
   }

   .section-title {
      margin-bottom: 30px;

      @media (max-width:$md3+px) {
         text-align: left;
      }
   }
}

.schedule-body {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

   @media (min-width:600px) {
      padding: 0 10px;
   }
}

.item-schedule {
   flex: 0 1 100%;
   width: 100%;
   padding-top: 26px;
   padding-left: 21px;
   min-height: 199px;
   box-shadow: 0 5px 37px 1px rgba(56, 106, 219, 0.19);
   border-radius: 20px;
   background-color: #ffffff;
   margin-bottom: 49px;
   background-image: url(../img/schedule/schedule-item-bg.jpg);
   background-position: bottom right;
   background-repeat: no-repeat;

   @media (max-width:$md3+px) {
      background-size: 24%;
   }

   @media (min-width:600px) {
      flex: 0 1 45%;
      width: 45%;
   }

   @media (min-width:$md2+px) {
      flex: 0 1 23%;
      width: 23%;
   }

   &__icon {
      margin-bottom: 12px;
      margin-left: -33px;
   }

   &__date {
      color: #000000;
      line-height: 36px;
      @include adaptiv-font(20, 16);
   }
}

.webp .item-schedule {
   background-image: url(../img/schedule/schedule-item-bg.webp);
}