.teacher-container {
   max-width: 1011px;
   margin: 0 auto;
   width: 100%;
   padding: 0 15px;

   @media (min-width:$md2+px) {
      padding: 0 30px;
   }
}

.teacher {
   background-color: #f5f9fe;

   &__body {
      position: relative;
   }

   &__title {
      margin-bottom: 19px;
   }

   .section-head {

      @media (min-width:$md2+px) {
         margin-bottom: 86px;
      }

   }

   &__video {

      box-shadow: 0 7px 19px 2px rgba(97, 97, 97, 0.4);

      @media (min-width:$md2+px) {
         box-shadow: 0 24px 60px 2px rgba(97, 97, 97, 0.46);
      }
   }

   &__video-overlay {
      position: absolute;
      background: url(../img/teacher/teacher-video-overlay.png) 0 0 no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
   }

   .play-btn {
      width: 92px;
      height: 92px;

      &:before {
         width: 150px;
         height: 150px;
         top: -29px;
         left: -29px;
      }

      &:after {
         margin-left: -6px;
         margin-top: -11px;
         border: 12px solid transparent;
         border-left: 14px solid #fff;
      }

      @media (max-width:$md3+px) {
         width: 45px;
         height: 45px;

         &:after {
            content: '';

         }

         &:before {
            width: 80px;
            height: 80px;
            top: -18px;
            left: -19px;
         }
      }
   }
}

.webp .teacher__video-overlay {
   background: url(../img/teacher/teacher-video-overlay.webp) 0 0 no-repeat;
   background-size: cover;
}

.button {
   margin: 50px;
   height: 20px;
   background: tomato;
   color: #fff;
   padding: 20px;
   cursor: pointer;
}