.teacher-container {
   max-width: 1011px;
   margin: 0 auto;
   width: 100%;
   padding: 0 15px;

   @media (min-width:$md2+px) {
      padding: 0 30px;
   }
}

.teacher {
   background-color: #f5f9fe;

   &__body {
      position: relative;
   }

   &__title {
      margin-bottom: 19px;
   }

   &__text {
      @media (max-width:$md3+px) {
         text-align: left;
      }
   }

   .section-head {

      @media (min-width:$md2+px) {
         margin-bottom: 86px;
      }

      @media (max-width:$md3+px) {
         text-align: left;
      }
   }

   &__video {

      box-shadow: 0 7px 19px 2px rgba(97, 97, 97, 0.4);

      @media (min-width:$md2+px) {
         box-shadow: 0 24px 60px 2px rgba(97, 97, 97, 0.46);
      }
   }

   &__video-overlay {
      position: absolute;
      background: url(../img/teacher/teacher-video-overlay.png) 0 0 no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
   }
}

.webp .teacher__video-overlay {
   background: url(../img/teacher/teacher-video-overlay.webp) 0 0 no-repeat;
}

.button {
   margin: 50px;
   height: 20px;
   background: tomato;
   color: #fff;
   padding: 20px;
   cursor: pointer;
}